<h1>Hogwarts Houses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New House', new_house_path %>

<br><br>
<h3>Navigation</h3>
<%= link_to 'Hogwarts Home : Houses', houses_path %>  |  <%= link_to 'Hogwarts Students', students_path %>  |  <%= link_to 'Hogwarts Course List', courses_path %>  |  <%= link_to 'List of Magical Spells', spells_path %>
