<h1>Hogwarts Course List</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_name %></td>
        <td><%= link_to 'View More', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Course', new_course_path %>

<br><br>
<h3>Navigation</h3>
<%= link_to 'Hogwarts Home : Houses', houses_path %>  |  <%= link_to 'Hogwarts Students', students_path %>  |  <%= link_to 'Hogwarts Course List', courses_path %>  |  <%= link_to 'List of Magical Spells', spells_path %>

